<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registros List
    </ion-title>

    <ion-button (click)="enviarCorreo()"  expand="full" fill="solid" shape="round">
      Enviar por email
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list>
    <ion-item *ngFor= "let registro of dataLocal.guardados" (click)="abrirRegistro(registro)" >
      <ion-icon slot="start" name='{{registro.icon}}'></ion-icon>
      <ion-label>{{registro.text}}</ion-label>
    </ion-item>
   
  </ion-list>

</ion-content>