<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      QR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="centro">
    <ion-button shape="round" fill="outline" Size="large" (click)="scan()">SCAN</ion-button>
  </div>

</ion-content>
